<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1 align='center'>Thanks for your interest in Super Nanny Agency!</h1>

<div align='center'>
  <h1><%= link_to 'Family Sign Up', new_client_path %></h1>
</div>


<h2>BACKGROUND CHECKS AND SCREENING</h2>
<p>Super Nanny Agency offers an extensive and thorough investigation into the candidate's experience and work history.</p>

<p>Super Nanny Agency starts the interviewing process with a telephone interview. We make sure the nanny has all the necessary requirements that the agency requires.</p>
<p>With every childcare position Super Nanny Agency conducts an in depth face-to-face interview. We then make the decision if the candidate is right for our agency.</p>
<p>We will conduct a criminal check in every state and county.</p>
<p>We will conduct a motor vehicle check for tickets, accident and suspensions.</p>
<p>Super Nanny Agency candidates must be CPR and First Aid certified.</p>
<h2>FAMILY PACKET</h2>
<p>The reason Super Nanny Agency is so unique is that we provide you with all the information you need to keep and enjoy your nanny. We provide every family who decide to work with our agency a packed of useful information.</p>

<h2>FAMILY PACKED INCLUDES:</h2>
<p>Background and Screening Process</p>
<p>Nanny Salary Information</p>
<p>Payroll and Tax Information</p>
<p>Copy of Nanny Application</p>
<p>Family/Nanny Agreement</p>
<p>Interview Questions</p>
<p>Guarantee Information</p>
<h2>FAQS</h2>
<h2>HOW DO I KNOW WHAT TO PAY MY NANNY?</h2>
<p>There are many different factors to consider when paying your nanny. How much childcare experience does your nanny have? Is your nanny responsible for any household chores? Do you have more than one child? All of these things should be considered when determining what you are going to pay your nanny. Contact our agency for more precise numbers.</p>

<h2>DO YOU GIVE VACATION TIME?</h2>
<p>Most families will give their nanny two weeks vacation per year. Some families give one week after six months and one week after the first year. Discuss with your nanny whether or not they need to take their vocation at the dame time as your family vocation.</p>

<h2>SHOULD MY NANNY GET PAID HOLIDAYS?</h2>
<p>I recommend giving your nanny the same paid holidays as your company gives you. Whatever you may decide, make sure you communicate this information with your nanny.</p>

<h2>HOW MANY SICK DAYS SHOULD MY NANNY GET?</h2>
<p>I recommend giving your nanny sick days consistent with what your company gives you. Again, be sure to communicate this information with your nanny.</p>

<h2>SHOULD WE PAY OVER TIME?</h2>
<p>If your nanny's schedule is until 6:00pm and you arrive at 6:30, your nanny should be compensated for the extra time. Some nannies would rather be paid for the extra time and some would have that extra time off another day. The decision should be made between you and your nanny.</p>

<h2>WHAT DO I PAY IF WE NEED OUR NANNY OVER NIGHT?</h2>
<p>Paying your nanny to spend the night is a bit tricky. Some nannies want to get paid for each hour and some will give you an amount for that night. Remember, this amount is in addition to their regular daily pay. Make sure you and your nanny discuss this.</p>

<h2>WHAT DO WE PAY OUR NANNY TO GO ON VACATION WITH US?</h2>
<p>I recommend you pay your nanny her regular salary and an overnight amount. If your nanny is working harder on vacation, this should be taken into consideration. This is one of the biggest reason nannies don't stay with a family. Remember, this is YOUR vacation, not nanny's. This is work for your nanny.</p>
<br>
<br>
<br>

