<br>
<br>
<br>

<h1 align='center'>SUPER NANNY AGENCY PLACEMENT FEES</h1>
<br>
<div container='jumbotron'>
    <p>Full-Time Live Out Nanny - $2500.</p>
    <p>Full-Time Live In Nanny - 10% of annual estimated gross salary, $3000. minimum</p>
    <p>Part-Time - 10% of annual estimated gross salary, $1800. minimum</p>
    <p>House Manger or Travel Nanny - 10% of annual estimated gross salary, $3000. minimum</p>
    <p>Nanny Share - $3000.</p>
    <p>Summer/Temporary - $1800.</p>
    <p>Permanent Occasional Sitters - $1500.</p>
    <p>Night Nurse - $1,700.</p>
</div>

<br>
<br>
<br>

<a href="/">Back</a>
<br>
<br>
<br>