
<body>

<br>
<br>
<br>
 
<br>
<br>
<div class="bg-color-sky-light">
  <div style='background-color:#d3ede2' class="content-lg container">
    <div align='center'>
      <strong class="display-3" style='color:#f0bfff'>Super Nanny Agency</strong>
    </div>

    
    <br>
    <br>
    <br>
      <h1><%= link_to 'Families', families_path %></h1><br><br>
      
      <h1><%= link_to 'Nannies', nannsies_path %></h1><br><br>
      
      <h1><%= link_to 'Services', services_path %></h1><br><br>
      
      <h1><%= link_to 'Fee Schedule', fee_schedule_path %></h1><br><br>
    </div>



  </div>
</div>

</body>

