



  
<br>
<br>
<br>
<div style='background-color:#aaaaaa' class="jumbotron">
  
  <strong class="display-2" style='color:#f0bfff'>Super Nanny Agency</strong>
    
<br>
<br>
<br>
  
  <h1><%= link_to 'Families', families_path %></h1><br><br>
  
  <h1><%= link_to 'Nannies', nannsies_path %></h1><br><br>
  
  <h1><%= link_to 'Services', services_path %></h1><br><br>
  
  <h1><%= link_to 'Fee Schedule', fee_schedule_path %></h1><br><br>

</div>



