<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1 align='center'>Thank you for your interest in Super Nanny Agency!</h1>
<br>
<br>
<br>
<br>
<br>
<div align='center'>
  <h1><%= link_to 'Nanny Application', new_nanny_path %></h1>
</div>
<br>
<p class="lead">Please click on "Nanny Application" above to take the first step. We look forward to working with you and helping you find your perfect position. You will receive a copy of your application as confirmation of submission. Your local placement provider will be in touch with you to schedule an interview when your application is received.</p>

<h2>NANNIES REQUIREMENTS</h2>
<p>Background checks</p>
<p>Criminal check in every county and state</p>
<p>Motor vehicle check for suspensions, tickets and accidents</p>
<p>Reference checks</p>
<p>Verification of employment and evaluation of performance</p>
<p>Phone interview with every previous childcare employer</p>
<p>Phone interview with all references</p>
<br>
<h2>TRAINING COURSES</h2>
<p>CPR certification</p>
<p>First AID training</p>
<br>
<h2>MINIMUM REQUIREMENTS</h2>
<p>References from previous nanny position</p>
<p>GED</p>
<p>Legal documentation</p>
<p>Face to face interview with agency</p>
<br>
<h2>NANNY PACKET</h2>
<p>Super Nanny Agency will provide all of our nannies with an informational packet. This packet will help you look at all angles of being a professional nanny.</p>

<h2>NANNY PACKET INCLUDES:</h2>
<p>CPR and First Aid information</p>
<p>Tax information</p>
<p>Family/Nanny agreement</p>
<p>Interview questions</p>
<p>Copy of nanny contract</p>
<p>Background and screening process</p>
<br>
<br>
<div align='center'>Super Nanny Agency | t: 773-818-8556 | e: walladap@gmail.com</div>
