<br>
<br>
<br>
<br>
<br>
<br>
<h1>TYPES OF SEVRICE</h1>
<br>
<h2>FULL-TIME LIVE IN</h2>
<p>A full-time, live-in nanny is a nanny that works about 30-50 hours a week and lives in your home. Typically a full-time, live-in will work their hourly schedule and one weekday night or weekend night. A live-in nanny must have their own bedroom and own bathroom. Most live-in nanny live in a separate part of the house (coach house or separate floor). A live-in nanny has a set schedule; they are NOT a 24-hour caregiver. Some families prefer a live-in if they have the extra space, or may need a nanny odd hours or have multiple children.<p>

<h2>FULL-TIME LIVE OUT</h2>
<p>This would be a perfect choice for a "typical" family. A live-out nanny would work 30-50 hours a week. Your nanny would come in the morning and leave at night.</p>

<h2>PART-TIME NANNY</h2>
<p>A part-time nanny is a permanent position that can range from 5 hours a week up to 29 hours a week.</p>

<h2>SUMMER/TEMPORARY</h2>
<p>A summer nanny is usually a student or someone who is only available during the summer. This could be a position from June-August or may be just 1 month. A temporary nanny will work for a shorter period of time.</p>

<h2>PERMANENT OCCASIONAL SITTER</h2>
<p>An occasional sitter would be a sitter who only works nights and weekends on an occasional basis. This person would be committed to your family just like a part time nanny.</p>

<h2>NANNY SHARE</h2>
<p>A nanny share would be one nanny that is hired to work for two families. The families would decide where the child care would be provided and the nanny would go to that family's home. The nanny would watch all children at the same time. In most cases the children are the same age and the parents have similar work schedule.</p>

<h2>NIGHT NURSE</h2>
<p>We place night nurses for full time and part time. A night nurse will come to your home usually between the hours of 8/9pm-6/7am. It could be 2-3 nights a week for 5-6 nights a week. Most night nurses can be pretty flexible. A night nurse is wonderful to have if your a first time parent and need someone to show you the ropes of taking care of your child and getting them to SLEEP! A night nurse will bath your newborn, cut nails, sleep train and give you a hand with nursing. A night nurse is also a great option if you have older children and you need to function day to day! With this option you'll get a full nights sleep.<p>
<br>
<br>
<br>
<h1>A LA CARTE SERVICES</h1>
<h2>FAMILY CONSULT - $350</h2>
<p>A Super Nanny Agency placement provider will come to your home and give you all the necessary tools to help you in doing your own nanny search. This is perfect for a family who decides to look for a nanny on their own but wants all the important tools in hiring. Each family will get a packet of information with interview questions, family/nanny agreement, tax information and reviews.</p>

<h2>CONSULT AND SCREENING - $500</h2>
<p>All the information above plus all the background checks and reference checks. This includes criminal, social security and motor vehicle checks.</p>

<h2>BACKGROUND AND REFERENCE CHECKS - $350</h2>
<p>We will fully screen the nanny you have chosen.</p>

<h2>BACKGROUND CHECKS ONLY - $250</h2>
<p>This includes criminal, social security and motor vehicle checks.</p>
<br>
<br>
<br>
<a href="/">Back</a>
<br>
<br>
<br>


          <div align='center'>Super Nanny Agency | t: 773-818-8556 | e: walladap@gmail.com</div>